@tailwind base;
@tailwind components;
@tailwind utilities;

/*arrow key method - this library is inbuild in this.*/
.slick-prev{
    left: 3% !important;
    z-index: 1;
}

.slick-next{
    right: 3% !important;
    z-index: 1;
}